###############################
# Temporaty files and folders #
###############################

__pycache__/
**/__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
.agents/
AGENTS.md
labML.egg-info/
_data_/
_artifacts_/
results/
RESUME.md
##################
# Compiled files #
##################
*.py[ocd]
*results.xlsx
